<div id="page-wrapper">
  <div id="profile-image">
    <%= image_tag 'profile-iceberg.jpg' %>
  </div>
  <div id="content">
    <h1>It's Mr. Iceberg</h1>
    <p>
    An iceberg is a large piece of freshwater ice that has broken off a
    glacier or an ice shelf and is floating freely in open (salt) water.
    Small bits of disintegrating icebergs are called "growlers" or "bergy
    bits".

    Much of an iceberg is below the surface which led to the expression "tip of the
    iceberg" to illustrate a small part of a larger unseen issue. Icebergs are
    considered a serious maritime hazard. The 1912 loss of the RMS Titanic led to
    the formation of the International Ice Patrol in 1914.

    Icebergs calved by glaciers that face the open sea, such as in Greenland, are
    irregular shaped piles. In Antarctica, ice shelves calve large tabular (table
    top) icebergs. The biggest iceberg ever recorded was Iceberg B-15A which split
    off the Ross Ice Shelf in Antarctica in 2000.  
    </p>
  </div>
</div>
