<% @posts.each do |post| %>
  <div class="post-wrapper">
    <h3 class="title">
      <%= link_to post.title, post %>
    </h3>
    <div class="body">
      <%= truncate(post.body, length: 100) %>
    </div>
    <div class="date-and-author">
      <%= time_ago_in_words(post.created_at) %> ago 
    </div>
  </div>
<% end %>
